* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #21232C;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #313131;
}

.navbar img {
    height: 60px;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 90px;
}

.texto {
    width: 500px;
}

.titulo {
    margin-bottom: 10px;
}

.paragrafo {
    line-height: 1.7;
}

.titulo-calc {
    margin-bottom: 10px;
}

.calculo h2 {
    margin-bottom: 10px;
    font-size: larger;
}

.calculo input {
    height: 50px;
    width: 250px;
    padding: 10px;
    font-size: medium;
    font-weight: 500;
    background-color: #2B2E3B;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculo input::placeholder {
    color: #cccccc;
}

.calculo button {
    background-color: #569080;
    border: 0;
    padding:  0 25px;
    border-radius: 5px;
    height: 50px;
    font-size: medium;
    font-weight: 600;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.calculo-final h2 {
    margin-bottom: 10px;
    font-size: larger;
}

.calculo-final p {
    font-size: large;
    background-color: #2B2E3B;
    height: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.container-met-exerc {
    background-color: #2B2E3B;
}

.mtk-container-exerc {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.mtk-container-exerc h1 {
    margin-top: 20px;
}

.mtk-texto2 {
    line-height: 1.7;
    margin-top: 10px;
}

.overflow {
    height: 364px;
    overflow-y: scroll;
}

tbody {
    border-radius: 5px;
    font-size: smaller;
}

table,
td,
th {
  border-collapse: collapse;
  padding: 5px;
}

tr th {
    position: sticky;
    top: 0;
    background-color: #43665c;
    border: 1 solid white !important;
}

tr, td, th{
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #21232C;
}

tr:hover {
    background-color: #515163;
}

.container-section input {
    height: 50px;
    width: 250px;
    padding: 10px;
    font-size: medium;
    font-weight: 500;
    background-color: #21232C;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container-section label {
    font-weight: 600;
    margin-bottom: 5px;
}

.container-table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding-bottom: 50px;
}

.container-section {
    display: grid;
}

.tempo-ativ {
    display: grid;
}

.tempo-button {
    display: flex;
}

.container-section button {
    background-color: #569080;
    border: 0;
    width: 100%;
    padding:  0 25px;
    border-radius: 5px;
    height: 50px;
    font-size: medium;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

#resultadoAtividade {
    font-size: large;
    background-color: #21232C;
    height: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}


.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .container-principal {
        margin: 20px;
        display: grid;
    }

    .texto {
        width: 100%;
    }

    .cc-resultado input {
        width: 100%;
        margin-bottom: 20px;
    }

    .calculo button {
        width: 100%;
        margin-left: 0;
    }

    .calculo-final p {
        width: 100%;
    }

    .container-met-exerc {
        width: 100%;
        padding: 20px;
    }

    .container-table {
        display: grid;
    }

    .container-section input {
        width: 100%;
    }

    #resultadoAtividade {
        width: 100%;
    } 

    .footer {
        padding: 0 20px;
    }
}

/* Scroll */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #3F4A5A #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #3F4A5A;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #272A35;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #3F4A5A;
  }
  
